:root {
  --ifm-color-primary: #3c4075;
  --ifm-color-primary-dark: #363a69;
  --ifm-color-primary-darker: #333663;
  --ifm-color-primary-darkest: #2a2d52;
  --ifm-color-primary-light: #424681;
  --ifm-color-primary-lighter: #454a87;
  --ifm-color-primary-lightest: #4e5398;
}

html[data-theme="dark"] {
  --ifm-link-color: #afb1d6;
  --ifm-link-hover-color: #888bc1;
  --ifm-navbar-link-hover-color: #afb1d6;
  --ifm-footer-link-hover-color: #888bc1;
  --ifm-menu-color-active: #afb1d6;
}

ul[role] {
  list-style: none;
}

main a {
  text-decoration: underline;
}

.story-container {
  max-width: 640px;
}

.twitter {
  font-weight: bold;
  color: #fcd700 !important;
}

.unsplash-img {
  height: 180px;
}

.mailchimp {
  max-width: 600px;
}

.coilgallery .carousel .slide iframe {
  margin: 0;
}

html[data-theme="light"]
  .carousel
  .thumbs-wrapper
  .control-next.control-arrow:before {
  border-left: 8px solid #000;
}

html[data-theme="light"]
  .carousel
  .thumbs-wrapper
  .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}

html[data-theme="dark"] .carousel .thumb {
  border: 3px solid #000;
}

html[data-theme="dark"] .carousel .thumb.selected,
html[data-theme="dark"] .carousel .thumb:hover {
  border: 3px solid #fcd700;
}
