:root {
  --ifm-color-primary-lightest: #444985;
  --ifm-color-primary-lighter: #3c4075;
  --ifm-color-primary-light: #393e70;
  --ifm-color-primary: #343866;
  --ifm-color-primary-dark: #2f325c;
  --ifm-color-primary-darker: #2c3057;
  --ifm-color-primary-darkest: #242747;
}

ul[role] {
  list-style: none;
}

main a {
  text-decoration: underline;
}

.story-container {
  max-width: 640px;
}

.twitter {
  font-weight: bold;
  color: #fcd700 !important;
}

.unsplash-img {
  max-height: 180px;
}
